:root{
  --trello-green: #70b500;
  --trello-orange: #ff9f1a;
  --trello-red: #eb5a46;
  --trello-yellow: #f2d600;
  --trello-purple: #c377e0;
  --trello-pink: #ff78cb;
  --trello-gray: #c4c9cc;
  --high-blue: #0079bf;
  --low-blue: #00c2e0;
  --low-green: #51e898;
}
body{
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  color: white;
}